@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
/* common styles */
* {
  margin: 0;
  padding: 0;
}
main {
  width: 82%;
  max-width: 1320px;
  margin: 0 auto;
}
.section-description {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.btn-primary {
  background-color: #f00;
  padding: 16px 32px;
  border-radius: 8px;
  border: none;
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}
/* common styles */
header {
  background-image: url("../resources/Banner\ Image.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  margin-top: 50px;
  margin-bottom: 120px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner {
  max-width: 632px;
}
.banner-decsription {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.banner-title {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  /* line-height: 95px; 131.944% */
}
.offer-container {
}
.offer-content {
  margin-bottom: 48px;
}
.offer-title {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 48px;
}
.offer-subtitle {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 16px;
}
.offer-img {
  display: block;
  margin: 0 auto;
  width: 50%;
  margin-bottom: 120px;
}
.welcome-container {
  background-image: url("../resources/Vectorrr.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-bottom: 120px;
  border-radius: 16px;
}
.welcome-content {
  width: 100%;
  max-width: 650px;
  padding: 126px;
}
.welcome-title {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: 88px; /* 137.5% */
  letter-spacing: 7.04px;
  margin-bottom: 24px;
}
.welcome-text {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  margin-bottom: 48px;
}
.event-details-container {
  background-image: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  border-radius: 16px;
  margin-bottom: 120px;
}
.event-detail {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px; /* 175% */
  text-transform: capitalize;
  padding: 100px 276px;
}
.event-detail p {
  margin-bottom: 48px;
}
.event-detail p span {
  color: #f00;
}
.event-btn {
  margin: 0 auto;
}
.coming-soon-container {
  display: flex;
  gap: 60px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 120px;
}
.coming-soon-content {
  width: 100%;
}
.coming-soon-content,
.coming-soon-content-2 h3 {
  color: #070211;
  font-family: Merriweather;
  font-size: 38px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
  margin-top: 16px;
}
.coming-soon-content p {
  text-align: left;
}
.coming-soon-content :nth-child(3) {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 22px;
}
.coming-soon-container > img {
  width: 463px;
  height: 463px;
}
.coming-soon-content-2 p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 22px;
}
.coming-soon-content-2 img {
  width: 140px;
  height: 140px;
}
.holiday-sale-content {
  text-align: center;
}
.holiday-sale-content p {
  max-width: 700px;
  margin: 28px auto;
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 160% */
}
.holiday-sale-content h5 {
  color: #070211;
  margin-bottom: 16px;
}
.holiday-sale-title {
  color: #070211;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.holiday-sale-title span {
  color: #f00;
}
.holiday-sale-container img {
  width: 100%;
  margin-bottom: 120px;
}
.portfolio-content {
  width: 100%;
  max-width: 896px;
  margin-bottom: 48px;
}
.portfolio-content > h5 {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 16px;
}
.portfolio-content > h3 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 22px;
}
.portfolio-content > p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}
.portfolio-gallery{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 120px;
}
.portfolio-gallery img{
  width: 100%;
}
.portfolio-gallery img:hover{
  transform: scale(1.3) rotate(5deg);
  transition: all 0.8s;
}